.BuildControls {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #a6c3c5;
    background-color: #110529;
    color: white;
    letter-spacing: .1rem;
}

.Price{ 
    margin: 35px auto 20px auto;

}

.OrderButton {
    background-color: #4f17fa;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 2vh;
    margin-bottom: 10vh;
    border-style: none;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #7252ca;
    color: #ffffff;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}