.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    padding: 5px;
    margin: 0 5px;
    font: inherit;
    font-size: small;
    cursor: pointer;
    outline: none;
    border: 1px solid #270772;
    width: 40px;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    font-size: 80%;
    padding: 10px;
    width: 30vh;
}

.BuildControl .Less {  
    background-color: #6b2ebb;
    color: white;
}

.BuildControl .More {
    background-color: #5a37d6;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #ec0c0c;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #1ac298;
    color: white;
}