.CheckoutSummary {
    width: 80%;
    text-align: center;
    margin: 10% auto;
}

@media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}

.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    border: 5px solid #481092 transparent;
    border-radius: 50px;
    transition: .5s ease-out;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #0fbe43;
}

.Success:hover {
    border: 5px solid #0fbe43;
}

.Danger {
    color: #944317;
}

.Danger:hover {
    border: 5px solid #944317;
}

.Button:hover {
	-webkit-animation: text-shadow-pop-bl 0.6s both;
	        animation: text-shadow-pop-bl 0.6s both;
}